# Ambiente virtuale Python (fondamentale!)
env/
venv/
ENV/

# File temporanei di Python (cache)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# File di configurazione di VS Code che potrebbero contenere percorsi locali
.vscode/


# Cartella exe protege
Protege-5.6.9


#materiale di studio
materiale/ontologyRAG-main
materiale/Ontology Evals for LLMs _ Ojitha Hewa Kumanayaka_files
materiale/graph-constrained-reasoning-main
materiale/OWLAPY_ A Pythonic Framework for OWL Ontology Engineering_files